* {
   box-sizing: border-box;
}
header {
   height: 10vh;
}
main {
   height: 90vh;
}
#timer-text {
   text-align: center;
   font-size: 8rem;
   color: var(--bs-light);
}
.sidebar-container {
   height: 95vh;
}
.player-time {
   float: right;
}
li[data-status="0"]:hover {
   cursor: pointer;
   background: var(--bs-gray-300);
}
li[data-status="1"] {
   background: var(--bs-green);
   color: var(--bs-light);
}
@media screen and (max-width: 768px) {
   #instructions {
      display: none;
   }
}
