* {
    box-sizing: border-box;
}
.ui-draggable.ui-draggable-dragging {
    background: var(--bs-gray);
    color: var(--bs-light);
    border-radius: 5px;
    /* prevents text from wrapping when dragged out of container */
    width: 100%;
}
